# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Model and dataset files
*.h5
*.pkl
*.csv
*.txt
uploads/

# System and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# Build and distribution
build/
dist/
*.egg-info/
